extends ../layouts/base
- load static
block title
    |  Главная
block body
    include ./nav-screen/nav-screen
    //img(src='static/main_page/example3.png', alt='kot')
    //ul
    //    for scene in scenes
    //        li
    //            if scene.file_video
    //                video(width='auto', controls)
    //                    source(src=scene.file_video.url)
    //                    | Your browser does not support HTML5 video.
    //            br
    //            if scene.html_content
    //                = scene.html_content | safe
append styles
    style#no-js-index.
        .no-js .navLayer {
            opacity: 1;
        }
        .js .navLayer {
            opacity: 0;
        }
        .js .videoPresentation ~ .navLayer {
            opacity: 1;
        }
append vendorStyles
    // PT Mono
        regular 400
    link(href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet')
prepend scripts
    script#external-storage-videos.
        window['site'].step1video = {
            url: 'static/main_page/blackboard.mp4',
            type: 'video/mp4',
        };
        window['site'].step2video = {
            url: 'static/main_page/typewriter.mp4',
            type: 'video/mp4',
        };
