h2.videosTitle Видео
.videosShelf
	mixin video(label, image, length, link)
		a.videosShelf-item(href='{{ link }}')
			article.videosShelf-item--layout
				figure.videosShelf-item-image
					img(
					src='{{ image }}'
					alt='{{ label }}'
					)
					figcaption.videosShelf-item-length
						| {{ length }}
				h4.videosShelf-item-label
					| {{ label }}
	if videos
		for video in videos
			+video(video.name, video.image_thumbnail.url, video.duration, video.slug)
	else
		p {{ 'Пока что здесь пусто. Обязательно заходите через неделю-другую: у нас будет что посмотреть!' }}
