h2.libraryTitle Библиотека
.libraryShelf
	mixin article(title, author, description, image, link)
		a.libraryShelf-item(href='{{ link }}')
			article.libraryShelf-item--layout
				p.libraryShelf-item-author
					| {{ author }}
				h4.libraryShelf-item-title
					| {{ title }}
				if description
					p.libraryShelf-item-description
						| {{ description }}
				figure.libraryShelf-item-image
					img(
					src='{{ image }}'
					alt!='{{ title }}'
					)
	if readings
		for reading in readings
			+article(reading.name, 'author', 'short description', reading.image_thumbnail.url, reading.slug)
	else
		p {{ 'Пока что здесь пусто. Обязательно заходите через неделю-другую: у нас будет что почитать!' }}
