extends ../layouts/default
block title
	| Видео
block content
	include ./resources/videos
append vendorStyles
	// Roboto Slab
		thin 100
		light 300
		regular 400
		bold 700
	link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet')
