- load static

!!!5
html
    head
        meta(charset='UTF-8')
        title Kot Бродского |
            block title
        block includes
    body
        h1 Кот Бродского
        img(src='static/kot.png', alt='кот')
        br
        - url 'main_page:index' as main
        a(href=main) Главная
        - url 'video:videos-list' as videos
        a(href=videos) Видосики
        - url 'library:readings-list' as library
        a(href=library) Библиотека
        - url 'calendar:google-calendar' as calendar
        a(href=calendar) Календарь
        block body
