extends ../layouts/default
block title
	| {{ reading.name }} — Библиотека
block content
	include ./resources/single-reading
append vendorStyles
	// Roboto Slab
	//	thin 100
	//	light 300
	//	regular 400
	//	bold 700
	link(href='https://fonts.googleapis.com/css?family=Roboto+Slab&amp;subset=cyrillic' rel='stylesheet')
