extends ../layouts/default
block title
	| Библиотека
block content
	include ./resources/library
append vendorStyles
	//- Oranienbaum
		regular 400
		https://fonts.googleapis.com/css?family=Oranienbaum&amp;subset=cyrillic
	link(href='https://fonts.googleapis.com/css?family=Oranienbaum&amp;subset=cyrillic' rel='stylesheet')
	//- Roboto Slab
		thin 100
		light 300
		regular 400
		bold 700
		https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=cyrillic
	link(href='https://fonts.googleapis.com/css?family=Roboto+Slab&amp;subset=cyrillic' rel='stylesheet')

