extends ../layouts/default
block title
	| Библиотека
block content
	include ./resources/library
append vendorStyles
	// Yeseva One
	//	regular 400
	link(href='https://fonts.googleapis.com/css?family=Yeseva+One' rel='stylesheet')
	// Oranienbaum
	//	regular 400
	link(href='https://fonts.googleapis.com/css?family=Oranienbaum' rel='stylesheet')
	// Roboto Slab
	//	thin 100
	//	light 300
	//	regular 400
	//	bold 700
	link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet')

